<div class="comments">
  <h4 class="comment_author">Comment by <span id="commenter"><%= comment.author_name %></span> <span id="comment_date"><%= comment.created_at.strftime("%I:%M %p, %d %b %y") %></span></h4>
  <p class="comment"><%= comment.body %></p>
</div>
