html {
  font-family: monospace;
}

#title {
  margin-left: 22px;
  border-bottom: 3px solid black;
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 5px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

a {
  text-decoration: none;
  color: black;
}

.article_date {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.5);
}

.article_title {
  font-size: 15px;
}

#articles {
  display: block;
  background-color: white;
  margin: 20px;
  width: 300px;
}

.new_article_button, .create_new_article_button {
  display: block;
  text-align: center;
  margin-left: 20px;
  margin-top: 25px;
  width: 160px;
  padding: 5px;
  border: 1px solid black;
  font-size: 13px;
  background-color: white;
  -webkit-transition: background-color 0.8s, color 0.8s;
  transition: background-color 0.8s, color 0.8s;
}

.create_new_article_button {
  margin-left: 22px;
  font-family: monospace;
  width: 130px;
}

.new_article_button:hover, .create_new_article_button:hover {
  background-color: black;
  color: white;
}

#main_article_title {
  -webkit-margin-before: 20px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-left: 20px;
  font-size: 30px;
}

#main_article_time {
  margin-left: 20px;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
  border-bottom: 1px solid black;
}

#main_article_body {
  margin: 28px 20px;
  font-size: 15px;
  position: relative;
}

#return_to_articles, #delete_article, #edit_article {
  display: block;
  position: relative;
  clear: both;
  border: 1px solid black;
  padding: 5px;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 110px;
  text-align: center;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

#delete_article, #edit_article {
  display: inline-block;
  clear: none;
  margin-left: 5px;
}

#return_to_articles:hover, #delete_article:hover, #edit_article:hover {
  background-color: black;
  color: white;
}


#update_article {
  clear: both;
  margin: 15px;
}

.new_article_title {
  margin-left: 22px;
  font-size: 16px;
  font-weight: bold;
}


.new_article_title_text {
  margin-left: 22px;
  margin-top: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  width: 400px;
  min-width: 300px;
  font-family: monospace;
}

.new_article_title_text:focus {
  outline: none;
}

.new_article_body_text {
  margin-left: 22px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  font-family: monospace;
  border: 1px solid rgba(0,0,0,0.3);
  width: 97%;
  height: 500px;
  max-height: 500px;
  resize: none;
}

.new_article_body_text:focus {
  outline: none;
}

#cancel_button {
  display: block;
  position: fixed;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 13.5px;
  margin-left: 22px;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

#cancel_button:hover {
  background-color: black;
  color: white;
}

.flash {
  margin: 20px;
  width: 97.5%;
  animation: fadeinout 3s linear forwards;
  -moz-animation: fadeinout 3s linear forwards;
  -webkit-animation: fadeinout 3s linear forwards;
  -o-animation: fadeinout 3s linear forwards;
}

@keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

@-moz-keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

@-webkit-keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

@-o-keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}
