html {
  font-family: monospace;
}

#title {
  margin-left: 22px;
  border-bottom: 3px solid black;
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 5px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  margin-left: 20px;
}

.article_date {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.5);
}

.article_title {
  font-size: 15px;
}

#articles {
  display: inline-block;
  background-color: white;
  margin: 20px;
  width: auto;
}

.new_article_button, .create_new_article_button, .create_new_comment_button, .tag_return_button, .attachment_button, .new_author_button, .back_button, .create_author_button {
  display: block;
  text-align: center;
  margin-left: 20px;
  margin-top: 25px;
  width: 160px;
  padding: 5px;
  border: 1px solid black;
  font-size: 13px;
  background-color: white;
  -webkit-transition: background-color 0.8s, color 0.8s;
  transition: background-color 0.8s, color 0.8s;
}

.create_new_article_button {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  font-family: monospace;
  width: 130px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.create_new_comment_button {
  margin-left: 0;
  margin-top: 5px;
  font-family: monospace;
  width: 60px;
}


.tag_return_button {
  width: 90px;
}

.attachment_button {
  display: inline-block;
  margin-top: 10px;
  width: auto;
}

.new_author_button {
  width: 82px;
  margin-bottom: 10px;
}

.back_button {
  width: 40px;
  height: 15px;
  margin-top: 10px;
}

.create_author_button {
  width: 110px;
  margin-top: 10px;
}

.new_article_button:hover, .create_new_article_button:hover, .create_new_comment_button:hover, .tag_return_button:hover, .attachment_button:hover, .new_author_button:hover, .back_button:hover, .create_author_button:hover {
  background-color: black;
  color: white;
}

#main_article_title {
  -webkit-margin-before: 20px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-left: 20px;
  font-size: 30px;
}

#main_article_time {
  margin-left: 20px;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
  border-bottom: 1px solid black;
}

#main_article_body {
  margin: 28px 20px 40px 20px;
  font-size: 15px;
  position: relative;
}

#return_to_articles, #delete_article, #edit_article, #return_to_articles_tag {
  display: block;
  position: relative;
  clear: both;
  border: 1px solid black;
  padding: 5px;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 110px;
  text-align: center;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

#delete_article, #edit_article {
  display: inline-block;
  clear: none;
  margin-left: 5px;
}

#return_to_articles:hover, #delete_article:hover, #edit_article:hover, #return_to_articles_tag:hover {
  background-color: black;
  color: white;
}


#update_article {
  clear: both;
  margin: 15px;
}

.new_article_title, .tags_title, .attachment_title {
  margin-left: 22px;
  font-size: 16px;
  font-weight: bold;
}

.new_comment_author, .new_comment_header {
  margin-left: 0;
  font-size: 14px;
  font-weight: bold;
}

.new_article_title_text, .new_comment_author_text, .tags_title_text {
  margin-left: 22px;
  margin-top: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  width: 400px;
  min-width: 300px;
  font-family: monospace;
}

.new_comment_author_text {
  width: 200px;
  min-width: 200px;
  margin-left: 0;
}

.new_article_title_text:focus, .new_comment_author_text:focus, .tags_title_text:focus {
  outline: none;
}

.new_article_body_text, .new_comment_text {
  margin-left: 22px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  font-family: monospace;
  border: 1px solid rgba(0,0,0,0.3);
  width: 97%;
  height: 500px;
  max-height: 500px;
  resize: none;
}

.new_comment_text {
  width: 50%;
  height: 100px;
  margin-left: 0;
}

.new_article_body_text:focus, .new_comment_text:focus {
  outline: none;
}

#cancel_button {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 13.5px;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

#cancel_button:hover {
  background-color: black;
  color: white;
}

.flash {
  margin: 20px;
  width: 97.5%;
  animation: fadeinout 3s linear forwards;
  -moz-animation: fadeinout 3s linear forwards;
  -webkit-animation: fadeinout 3s linear forwards;
  -o-animation: fadeinout 3s linear forwards;
}

@keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

@-moz-keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

@-webkit-keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

@-o-keyframes fadeinout {
  40% {
    background-color: rgba(0,0,0,0.2);
  }
}

.subtitle {
  margin-left: 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.comments {
  margin-left: 20px;
}

.comment_author {
  -webkit-margin-before: 0;
  -webkit-margin-after: 10px;
}

#commenter {
  text-decoration: underline;
}

#comment_date {
  color: rgba(0,0,0,0.5)
}

.comment {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.new_comment_form {
  margin-left: 25px;
}

.new_comment {
  margin-left: 35px;
}

#tags {
  margin-left: 20px;
}

#tag {
  color: rgba(0,0,0,0.5);
  text-decoration: underline;
}

#tag_name {
  color: rgba(0,0,0,0.5);
}

#tagged_article_title {
  margin-left: 20px;
  width: 350px;
}

.edit_buttons {
  margin-left: 20px;
}

.tag_entry {
  margin-left: 20px;
  width: 300px;
  max-width: 300px;
}

#return_to_articles_tag {
  margin-top: 20px;
}

#delete_tag {
  float: right;
  color: rgba(0,0,0,0.5);
}

#author {
  float: right;
  padding-top: 16px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#footer_line{
  margin-left: 20px;
  -webkit-margin-before: 20px;
}

#footer {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 0px;
}

#login, #logout {
  color: rgba(0,0,0,0.5);
}

.author_table {
  border-collapse: collapse;
  margin-left: 20px;
  width: auto;
}

th, td {
  text-align: left;
  padding: 5px 10px;
}

#author_name, #author_email_address, #author_show, #author_edit, #author_destroy {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#author_show, #author_edit, #author_destroy {
  color: rgba(0,0,0,0.7);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#author_show:hover, #author_edit:hover, #author_destroy:hover {
  background-color: rgba(0,0,0,0.1);
}

#author_username_title, #author_email_title, #author_password_title, #author_password_confirmation_title {
  margin-left: 20px;
  display: inline-block;
  width: 190px;
  float: left;
  font-weight: bold;
}

.field {
  display: block;
  width: 700px;
  padding: 3px 0;
}

#author_username, #author_email, #author_password, #author_password_confirmation {
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-family: monospace;
  font-size: 12px;
  width: 170px;
}

#author_username:focus, #author_email:focus, #author_password:focus, #author_password_confirmation:focus {
  outline:none;
}

.new_author_name, .new_author_email {
  margin-left: 20px;
}
