<h1 id="title">Articles Tagged with <span id="tag_name"><%= @tag.name %></span></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li id="tagged_article_title"><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to "Tags Index", tags_path, :class => "tag_return_button" %>
